# Tokens Discord
DISCORD_TOKEN=votre_token_bot_ici
DISCORD_CLIENT_ID=votre_client_id_ici
DISCORD_CLIENT_SECRET=votre_client_secret_ici

# Web
WEBSITE_URL=http://localhost:3000
SESSION_SECRET=une_cle_secrete_aleatoire

# Base de données
DATABASE_URL=./bot/database.sqlite

# Configuration bot
DEFAULT_COINS_GOAL=1000
ADMIN_ROLE_NAME=AdminBot
